html,
body {
  align-items: center;
  background: #2d67c4;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: Lato, Arial;
  font-size: 18px;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  html *,
  body * {
    box-sizing: border-box; }

.header {
  color: #fff;
  padding: 40px;
  text-align: center; }
  .header h1 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1; }
  .header .tagline {
    font-size: 14px;
    text-transform: uppercase; }

.section {
  background: #fff;
  max-width: 800px;
  padding: 20px 80px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center; }

.body {
  position: relative;
  min-height: 200px; }

img {
  max-width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in; }
  img.fade-in {
    opacity: 1; }

.controls {
  border-bottom: 5px solid #e2e2e2;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%; }

button {
  font-size: 16px;
  border: 3px solid #2d67c4;
  padding: 0.6em 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.1s ease-in; }
  button:hover {
    color: #fff;
    background: #2d67c4; }
  button:first-child {
    margin-left: 0; }
  button:last-child {
    margin-right: 0; }

.preloader {
  animation-iteration-count: 1;
  animation: pulsate 1.5s ease-out;
  border-radius: 30px;
  background: #00e;
  height: 20px;
  left: 50%;
  opacity: 0.0;
  position: absolute;
  top: 50%;
  transform: scale(0);
  transition: all 0.1s ease-in;
  width: 20px; }
  .preloader.middle {
    margin-top: -10px; }
  .preloader.ensure-animation-loaded {
    background: #e00; }

@keyframes pulsate {
  0% {
    opacity: 0.0;
    transform: scale(0); }
  70% {
    opacity: 1.0; }
  100% {
    opacity: 0.0;
    transform: scale(1.5); } }
